@font-face {
    font-family: 'MexicanTequila';
    src: url('./font/MexicanTequila.ttf');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'MexicanTequila', Arial, sans-serif;
}

canvas {
    background-color: black;
}
