@font-face {
    font-family: 'MexicanTequila';
    src: url('./font/MexicanTequila.ttf');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'MexicanTequila', Arial, sans-serif;
}

canvas {
    background-color: black;
}

.window {
    display: flex;
    position: relative;
}

.hud {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
}

#btnLeft {
    position: absolute;
    width: 50px;
    height: 32px;
    bottom: 35px;
    left: 0px;
    background: none;
    border: none;
}
#btnRight {
    position: absolute;
    width: 50px;
    height: 32px;
    bottom: 35px;
    left: 65px;
    background: none;
    border: none;
}
#btnJump {
    position: absolute;
    width: 50px;
    height: 32px;
    bottom: 35px;
    right: 20px;
    background: none;
    border: none;
}
#btnThrow {
    position: absolute;
    width: 50px;
    height: 32px;
    bottom: 100px;
    right: 20px;
    background: none;
    border: none;
}
#btnBuy {
    position: absolute;
    width: 50px;
    height: 32px;
    bottom: 35px;
    right: 85px;
    background: none;
    border: none;
}

#btnLeft img {
    width: 56px;
    height: 56px;
}

#btnRight img {
    width: 56px;
    height: 56px;
}

#btnJump img {
    width: 56px;
    height: 56px;
}

#btnThrow img {
    width: 56px;
    height: 56px;
}

#btnBuy img {
    width: 56px;
    height: 56px;
    
}

.hud img:active {
    filter: invert();
}
